
$font-nunito:"Nunito Sans", sans-serif;
$font-raleway: "Raleway", sans-serif;
$transition: 0.5s ease background-color, 0.2s ease opacity;

[data-theme="theme-dark"] {
    --main:#bd883c;
    --bg:#181818;
    --text:snow;
}

[data-theme="theme-light"] {
    --main:#bd883c;
    --bg:snow;
    --text:#181818;
}

:root {
    --primary:#6b6b6b;
    --text-light: color-mix(in lab, var(--text) 60%, transparent);
}


  
$colors: (
    main:var(--main),
    bgColor:var(--bg),
    textColor:var(--text),
    primaryColor:var(--primary),
    textLight:var(--text-light),
);

