
$font-nunito:"Nunito Sans", sans-serif;
$font-raleway: "Raleway", sans-serif;
$transition: 0.7s ease background-color, 0.7s ease opacity;

[data-theme="theme-dark"] {
    --bg:#181818;
    --text:snow;
}

[data-theme="theme-light"] {
    
    --bg:snow;
    --text:#181818;
}

:root {
    --main:#bd883c;
    --primary:#6b6b6b;
    --text-light: color-mix(in lab, var(--text) 60%, transparent);
    --snowColor:snow;
    --rgbaColor: rgba(189, 136, 60, .7);

    --fontSizeH0: 6.25rem;
    --fontSizeH1: 4.375rem;
    --fontSizeH2: 3.125rem;
    --fontSizeH3: 3.25rem;
    --fontSizeH4: 2.625rem;
    --fontSizeH5: 1.375rem;

    --fontSizeXL: 1.375rem;
    --fontSizeL: 1.25rem;
    --fontSizeM: 1.125rem;
    --fontSizeS: 1rem;
    --fontSizeXS: 0.875rem;
}


  
$colors: (
    main:var(--main),
    bgColor:var(--bg),
    textColor:var(--text),
    primaryColor:var(--primary),
    textLight:var(--text-light),
    snowColor:var(--snowColor),
    rgbaColor:var(--rgbaColor),
);

$sizes: (
    fontSizeH0:var(--fontSizeH0),
    fontSizeH1:var(--fontSizeH1),
    fontSizeH2:var(--fontSizeH2),
    fontSizeH3:var(--fontSizeH3),
    fontSizeH4:var(--fontSizeH4),
    fontSizeH5:var(--fontSizeH5),

    fontSizeXL:var(--fontSizeXL),
    fontSizeL:var(--fontSizeL),
    fontSizeM:var(--fontSizeM),
    fontSizeS:var(--fontSizeS),
    fontSizeXS:var(--fontSizeXS),
);

