
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import '_variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, #root {
  font-family: 'Roboto Mono', monospace;
  color: color(textColor);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: color(bgColor);
  color: color(textColor);
  transition: $transition;
}


.text-container h1{
  font-family: $font-raleway;
  font-size: 130px;
  color: rgba(136, 131, 131, 0.1);
  background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  background-clip:text;
  animation: animate 18s linear infinite;
  text-align: center;
  margin-top: 17%;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%{
    background-position: left 0px top 10px;
  }
    40%{
      background-position: left 800px top 10px;
  }
}






