@import '_variables';
@import 'functions';


.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    .w-item {
        width: 75%;
        margin-bottom: 30px;
        .w-header {
            display: flex;
            justify-content: space-between;
            color: white;
            background-color: color(main);
            padding: 15px 25px;
            font-size: 19px;
            font-weight: 600;
            border: 1px solid color(textColor);
        }
        .w-content {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            border: 1px solid color(textColor);
            padding: 25px 25px;
            border-top: none;
            .w-details {
                a {
                    color: unset;
                    &:hover {
                        color: color(main);
                    }
                }
                ul, li {
                    padding-left: 1rem;
                    line-height: 170%;
                }

                .tool-used {
                    display: flex;
                    flex-wrap: wrap;
                    span {
                        font-size: 14px;
                        padding: 10px;
                        margin-bottom: 8px;
                        margin-right: 10px;
                        background: rgba(135, 120, 51, 0.5);
                        border-radius: 30px;
                    }
                }
            }

            .w-logo {
                width: 15%;
                img {
                    width: 100px;
                }
            }
        }
    }
}



@media screen and (max-width: 1199px) {
    .work {
        .w-item {
            width: 80%;

            .w-logo {
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .work {
        .w-item {
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .work {
        padding: 6rem 3% 5rem 3% !important;

        .w-header {
            flex-direction: column;
            font-size: 16px !important;
            padding: 10px 25px !important;
        }
        .w-item {
            .w-details {
                
                .tool-used {
                    span {
                        font-size: 12px !important;
                    }
                }
            }
            .w-content {
                display: flex;
                flex-direction: column-reverse;
                font-size: 13px;
            }

            .w-logo {
                width: 100%;
                padding-bottom: 15px;
                img {
                    width: 80px !important;
                }
            }
        }
    }
}